# Dependencies
node_modules/
.pnp
.pnp.js

# Environment
.env
.env.*
.env.local
.env.production

# Database
*.db
*.db-journal

# Build
dist/
build/
.expo/
web-build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Misc
*.tgz
coverage/
