EXPO_PUBLIC_VIBECODE_BACKEND_URL=http://localhost:3000
EXPO_PUBLIC_VIBECODE_GOOGLE_API_KEY=replace_with_your_google_api_key
EXPO_PUBLIC_VIBECODE_ELEVENLABS_API_KEY=replace_with_your_elevenlabs_api_key
EXPO_PUBLIC_VIBECODE_OPENAI_API_KEY=replace_with_your_openai_api_key
EXPO_PUBLIC_VIBECODE_ANTHROPIC_API_KEY=replace_with_your_anthropic_api_key
EXPO_PUBLIC_VIBECODE_GROK_API_KEY=replace_with_your_grok_api_key
EXPO_PUBLIC_VIBECODE_REVENUECAT_TEST_KEY=replace_with_your_revenuecat_test_key
EXPO_PUBLIC_VIBECODE_REVENUECAT_APPLE_KEY=replace_with_your_revenuecat_apple_key
EXPO_PUBLIC_VIBECODE_REVENUECAT_GOOGLE_KEY=replace_with_your_revenuecat_google_key
